In [1]:
#Import Libraries and depend
#To View and Analyze data
import numpy as np
import pandas as pd
#Matplotlib, Seaborn and Plotly for visualization
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import plot, iplot, init_notebook_mode
#Linear Regression using Scikit-learn
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import r2_score, mean_squared_error
#Remove Warning Messages
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import LabelEncoder

In [2]:
df_healthcare = pd.read_csv("Resources/2018_FYC.csv")
df_healthcare.head()

,Family_Size,Region,Age,Sex,Race,Education_Level,Highest_Degree,BMI,Tobacco_Use,Total_Personal_Income,Total_Expenditure,Exp_Pocket,Exp_Medicare,Total_Medicaid,Exp_VA,Total_Priv_Tri,Total_Other
0,2,2,27,2,1,16,4,21.4,3,32000,2368,225,0,2037,0,107,0
1,2,2,25,1,1,17,4,30.6,3,0,2040,136,0,0,0,1904,0
2,6,2,34,2,1,10,3,28.2,3,25000,173,74,0,0,0,99,0
3,6,2,39,1,1,10,3,28.7,3,30000,0,0,0,0,0,0,0
4,4,2,36,2,1,17,5,21.5,3,30217,535,232,0,0,0,303,0

In [3]:
X = df_healthcare.drop("Total_Expenditure", axis=1)
X

,Family_Size,Region,Age,Sex,Race,Education_Level,Highest_Degree,BMI,Tobacco_Use,Total_Personal_Income,Exp_Pocket,Exp_Medicare,Total_Medicaid,Exp_VA,Total_Priv_Tri,Total_Other
0,2,2,27,2,1,16,4,21.4,3,32000,225,0,2037,0,107,0
1,2,2,25,1,1,17,4,30.6,3,0,136,0,0,0,1904,0
2,6,2,34,2,1,10,3,28.2,3,25000,74,0,0,0,99,0
3,6,2,39,1,1,10,3,28.7,3,30000,0,0,0,0,0,0
4,4,2,36,2,1,17,5,21.5,3,30217,232,0,0,0,303,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16760,2,3,59,2,1,16,4,34.3,3,43670,966,0,0,0,1987,0
16761,2,3,66,1,1,16,4,31.0,2,8999,9288,18,0,0,5354,0
16762,1,3,69,2,2,17,5,45.7,3,55132,859,1265,0,0,313,0
16763,3,4,33,2,1,16,4,29.2,3,18000,2114,0,0,0,15706,0
16764,3,4,32,1,1,13,3,27.3,3,47874,90,0,0,0,0,0

In [4]:
y = df_healthcare["Total_Expenditure"].copy()
y

0         2368
1         2040
2          173
3            0
4          535
         ...
16760     2953
16761    14660
16762     2439
16763    17820
16764       90
Name: Total_Expenditure, Length: 16765, dtype: int64

In [5]:
# Remove low variance features
from sklearn.feature_selection import VarianceThreshold

selection = VarianceThreshold(threshold=(0.1))    
X = selection.fit_transform(X)
X.shape

(16765, 16)

In [6]:
# Data splitting
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=42
)

In [7]:
X_train.shape, X_test.shape

((13412, 16), (3353, 16))

In [8]:
#Build Classification models

In [9]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import matthews_corrcoef
from sklearn.metrics import f1_score

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
#numeric_cols = ['age', 'bmi', 'children'] 
#scaler = StandardScaler()
#scaler.fit(insurance_df[numeric_cols])
#insurance_df

In [12]:
from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

#view transformed values
print(y_transformed)

[2133 1868  161 ... 2188 6993   79]

In [13]:
#K Nearest neighbors

In [14]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(5) # Define classifier
knn.fit(X_train, y_train) # Train model

# Make predictions
y_train_pred = knn.predict(X_train)
y_test_pred = knn.predict(X_test)

# Training set performance
knn_train_accuracy = accuracy_score(y_train, y_train_pred) # Calculate Accuracy
knn_train_mcc = matthews_corrcoef(y_train, y_train_pred) # Calculate MCC
knn_train_f1 = f1_score(y_train, y_train_pred, average='weighted') # Calculate F1-score

# Test set performance
knn_test_accuracy = accuracy_score(y_test, y_test_pred) # Calculate Accuracy
knn_test_mcc = matthews_corrcoef(y_test, y_test_pred) # Calculate MCC
knn_test_f1 = f1_score(y_test, y_test_pred, average='weighted') # Calculate F1-score

print('Model performance for Training set')
print('- Accuracy: %s' % knn_train_accuracy)
print('- MCC: %s' % knn_train_mcc)
print('- F1 score: %s' % knn_train_f1)
print('----------------------------------')
print('Model performance for Test set')
print('- Accuracy: %s' % knn_test_accuracy)
print('- MCC: %s' % knn_test_mcc)
print('- F1 score: %s' % knn_test_f1)

Model performance for Training set
- Accuracy: 0.12861616462869072
- MCC: 0.11457716982415828
- F1 score: 0.08683819360751849
----------------------------------
Model performance for Test set
- Accuracy: 0.08947211452430659
- MCC: 0.0739095632146005
- F1 score: 0.058309818226310914

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100) # Define classifier
rf.fit(X_train, y_train) # Train model

# Make predictions
y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

# Training set performance
rf_train_accuracy = accuracy_score(y_train, y_train_pred) # Calculate Accuracy
rf_train_mcc = matthews_corrcoef(y_train, y_train_pred) # Calculate MCC
rf_train_f1 = f1_score(y_train, y_train_pred, average='weighted') # Calculate F1-score

# Test set performance
rf_test_accuracy = accuracy_score(y_test, y_test_pred) # Calculate Accuracy
rf_test_mcc = matthews_corrcoef(y_test, y_test_pred) # Calculate MCC
rf_test_f1 = f1_score(y_test, y_test_pred, average='weighted') # Calculate F1-score

print('Model performance for Training set')
print('- Accuracy: %s' % rf_train_accuracy)
print('- MCC: %s' % rf_train_mcc)
print('- F1 score: %s' % rf_train_f1)
print('----------------------------------')
print('Model performance for Test set')
print('- Accuracy: %s' % rf_test_accuracy)
print('- MCC: %s' % rf_test_mcc)
print('- F1 score: %s' % rf_test_f1)

Neural network

In [ ]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(alpha=1, max_iter=1000)
mlp.fit(X_train, y_train)

# Make predictions
y_train_pred = mlp.predict(X_train)
y_test_pred = mlp.predict(X_test)

# Training set performance
mlp_train_accuracy = accuracy_score(y_train, y_train_pred) # Calculate Accuracy
mlp_train_mcc = matthews_corrcoef(y_train, y_train_pred) # Calculate MCC
mlp_train_f1 = f1_score(y_train, y_train_pred, average='weighted') # Calculate F1-score

# Test set performance
mlp_test_accuracy = accuracy_score(y_test, y_test_pred) # Calculate Accuracy
mlp_test_mcc = matthews_corrcoef(y_test, y_test_pred) # Calculate MCC
mlp_test_f1 = f1_score(y_test, y_test_pred, average='weighted') # Calculate F1-score

print('Model performance for Training set')
print('- Accuracy: %s' % mlp_train_accuracy)
print('- MCC: %s' % mlp_train_mcc)
print('- F1 score: %s' % mlp_train_f1)
print('----------------------------------')
print('Model performance for Test set')
print('- Accuracy: %s' % mlp_test_accuracy)
print('- MCC: %s' % mlp_test_mcc)
print('- F1 score: %s' % mlp_test_f1)